body{
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.love{
    position: relative;
    width: 500px;
    height: 500px;
}

p::after{
    position: absolute;
    width: 500px;
    height: 500px;
    content: 'Click here!';
    color: #000;
    font-size: 18px;
    font-weight: bolder;
    top: 150px;
    left: 85px;
    transition: all .5s ease-in-out;
}

.love span{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #00dd5f;
    transition: all .5s ease-in-out;
}

.love input{
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}

.love input:checked~span:nth-child(2){
    background-color: #d40000;
    border-radius: 50%;
    left: 0;
    z-index: 1;
    animation: effects .5s linear alternate;
}

.love input:checked~span:nth-child(3){
    background-color: #d40000;
    border-radius: 50%;
    left: 200px;
    z-index: 1;
    animation: effects .5s linear alternate;
}

.love input:checked~span:nth-child(4){
    background-color: #d40000;
    top: 100px;
    left: 100px;
    transform: rotate(45deg);
    animation: effects .5s linear alternate;
}

.love input:checked~p:after{
    content: 'Love';
    letter-spacing: 3px;
    color: #fff;
    z-index: 1;
    top: 200px;
    left: 210px;
}

@keyframes effects{
    100%{transform: rotate(360deg);}
}